@font-face {
    font-family: 'Circular Std';
    src: url('./fonts/CircularStd-Book.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Circular Std';
    src: url('./fonts/CircularStd-Medium.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Circular Std';
    src: url('./fonts/CircularStd-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
    /* Enables smooth scrolling */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Circular Std", sans-serif;
}

/* html {
    scrollbar-gutter:stable;
} */

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 6px 24px 6px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(248, 249, 250);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 21px 0px;
    z-index: 10;
}

.logo {
    height: 64px;
}

.links {
    list-style: none;
    display: flex;
    align-items: center;
}

.links li {
    padding: 16px;
}

.links li a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 500;
    transition: 0.15s ease;
    position: relative;
}

.links li a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -6px;
    left: 0;
    background-color: #000000;
    visibility: hidden;
    transform: scaleX(0);
    transition: 0.3s ease-in-out;
}

.links li a:hover::after {
    visibility: visible;
    transform: scaleX(0.99);
}

.links li:nth-child(4) {
    padding: 16px 0 16px 16px;
}

.links li:last-child {
    padding: 0 !important;
}

.sideNav {
    position: fixed;
    right: -250px;
    /* Hide sidebar initially */
    top: 0;
    bottom: 0;
    width: 250px;
    z-index: 100;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) -4px 0px 21px 0px;
    transition: right 0.3s ease-out;
}

.sideNav.display {
    right: 0;
    /* Show sidebar when class "display" is added */
}

.sidelogo {
    height: 64px;
    margin: 12px;
}

.sidelinks {
    list-style: none;
}

.sidelinks li {
    padding: 12px 24px;
    transition: 0.15s;
    cursor: pointer;
}

.sidelinks li:hover {
    background-color: hsl(0, 0%, 90%);
}

.sidelinks li a {
    text-decoration: none;
    color: #212529;
    display: flex;
    align-items: center;
    gap: 16px;
}

.sidenav-logos {
    height: 18px;
    width: 18px;
}

.menu-icon {
    width: 32px;
    height: 32px;
    display: none;
    transition: 0.15s;
    cursor: pointer;
}

.menu-icon:hover {
    opacity: 0.4;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 99;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-out;
}

.overlay.display {
    opacity: 1;
    pointer-events: auto;
}

#home {
    margin-top: 76px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 72px 36px;
}

.content {
    padding-left: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content h5 {
    font-size: 20px;
    margin-bottom: 48px;
    font-weight: 400;
}

.content h1 {
    font-size: 36px;
    margin-bottom: 8px;
}

.content p {
    font-weight: 300;
    padding-right: 48px;
    font-size: 20px;
    color: hsl(0, 0%, 40%);
    margin-bottom: 48px;
    line-height: 1.8;
}

.CTAs {
    display: flex;
    gap: 16px;
}

#getStarted,
#seeProjects {
    cursor: pointer;
    padding: 8px 16px;
    font-size: 20px;
    border-radius: 8px;
    background-color: #212529;
    color: #FFF;
    border: 1px solid #212529;
    transition: 0.15s;
}

#getStarted:hover,
#seeProjects:hover {
    color: #212529;
    background-color: #FFF;
}

.next {
    width: 24px;
    height: 24px;
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.blue {
    background: linear-gradient(270deg, #f06595, #ff3078, #7e52ff, #5c7cfa, #339af0, #22b8cf, #339af0, #5c7cfa, #7e52ff, #ff3078, #f06595);
    background-size: 1000% 1000%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientAnimation 10s ease-in infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

.photo {
    margin-top: 16px;
    border-radius: 50%;
    height: 480px;
    width: 480px;
    object-fit: cover;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    /* border: solid 4px black; */
}

/* stacks */

#stacks {
    margin-top: 36px;
    padding: 88px 100px;
    background-color: #212529;
}

#stacks h1 {
    font-size: 36px;
    margin-bottom: 24px;
    color: white;
}

.stackList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;
}

.stack {
    display: flex;
    align-items: center;
    padding: 16px 24px;
    border-radius: 8px;
    gap: 8px;
    position: relative;
    color: white;
    background-color: transparent;
    border: 1px solid rgb(88, 88, 88);
    transition: 0.15s;
    cursor: pointer;
}

.stack:hover {
    border: 1px solid #212529;
}

.stack span {
    font-size: 16px;
    font-weight: 600;
    height: 100%;
    display: flex;
    align-items: center;
}

.html:hover {
    background-color: #E34F26;
}

.css:hover {
    background-color: #2196F3;
}

.js:hover {
    background-color: rgb(240, 188, 0);
    /* color: #1a1a1a; */
}

.js:hover ion-icon {
    fill: #1a1a1a !important;
}

.react:hover {
    background-color: rgba(0, 217, 255, 0.93);
    /* color: #1a1a1a; */
}

.react:hover ion-icon {
    fill: #1a1a1a;
}

.figma:hover {
    background-color: #A259FF;
}

.nxt:hover {
    color: #1a1a1a;
    background-color: whitesmoke;
}

.nxt:hover svg path {
    fill: black;
}

.firebase:hover {
    background-color: #F4A011;
}

.git:hover {
    background-color: #F34F29;
}

.github:hover {
    background-color: #29903B;
}

.node:hover {
    background-color: #8CC84B;
}

.mysql:hover {
    background-color: #00758f;
}

.postman:hover {
    background-color: #FF6C37;
}

.svgs {
    height: 28px;
    width: 28px;
}

/* Projects */

#projects {
    padding: 72px 100px;
    background-color: white;
}

#projects h1 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 8px;
}

#projects p {
    font-size: 18px;
    color: hsl(0, 0%, 40%);
    font-weight: 300;
    margin-bottom: 32px;
}

.projectList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 40px;
}

.project {
    position: relative;
    /* box-shadow: 8px 8px; */
}

.imgCont {
    width: 100%;
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    align-items: center;
    border: solid 1px hsl(0, 0%, 90%);
}

.imgCont a {
    display: flex;
    align-items: center;
}

.project img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    transition: 0.3s ease;
    cursor: pointer;
}

.project img:hover {
    transform: scale(1.05);
}

.project-overlay {
    position: static;
    background: none;
    color: black;
    margin-top: 12px;
}

.project-overlay h3 {
    font-size: 24px;
    margin-bottom: 4px;
}

.project-overlay p {
    font-size: 16px;
    color: hsl(0, 0%, 40%) !important;
    font-weight: 300;
    margin-bottom: 0 !important;
}

.project-overlay a {
    text-decoration: none;
    color: #3498db;
    position: relative;

}

.project-overlay a::after {
    font: arial;
    font-size: 1px;
    font-weight: 100;
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #3498db;
    visibility: hidden;
    transform: scaleX(0);
    transition: 0.3s ease;
}

.project-overlay a:hover::after {
    visibility: visible;
    transform: scaleX(0.99);
}

.tags {
    margin: 12px 0;
    display: flex;
    column-gap: 8px;
    row-gap: 8px;
    flex-wrap: wrap;
}

.tags span {
    padding: 4px 16px;
    border: none;
    background: hsl(0, 0%, 93%);
    border-radius: 16px;
    color: black;
    font-size: 12px;
}

/* #quote {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #212529;
    padding: 196px 16px;
}

#quote p {
    font-size: 2em;
    font-weight: 200;
    font-family: "Ibarra Real Nova", serif;
    font-style: italic;
} */

/* Contacts */

#contact {
    margin: 72px 100px;
    padding: 200px 100px;
    background: url(./img/bg-landscape.jpg);
    background-size: cover;
    color: white;
    border-radius: 12px;
    text-align: center;
    margin-bottom: 125px;
    text-shadow: #000000 0px 2px 10px;
}

#contact h1 {
    font-size: 36px;
    margin-bottom: 12px;
}

#contact p {
    font-size: 20px;
    font-weight: 300;
}

.socialsContainer {
    margin-top: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.social {
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 8px;
    border: none;
    display: flex;
    transition: 0.15s ease-in-out;
    align-items: center;
    gap: 8px;
    background-color: #fff;
}

.social:hover {
    transform: scale(1.05);
}

.social p {
    font-size: 16px !important;
    font-weight: 400 !important;
    margin-top: 2px;
}

.contact-logo {
    font-size: 20px;
    width: 20px;
    height: 20px;
}

/* Footer */

.mainfooter {
    background-color: #212529;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    column-gap: clamp(88px, 10vw, 180px);
    row-gap: 32px;
    padding: 60px 100px;
}

.mainfooter h3 {
    color: #F8F9FA;
}

.mainfooter ul {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.mainfooter div ul li {
    list-style: none;
}

.mainfooter div ul li a {
    text-decoration: none;
    color: #a2a7ab;
    font-weight: 300;
    display: flex;
    align-items: center;
    gap: 4px;
    transition: 0.15s;
}

.mainfooter div ul li a:hover {
    color: #F8F9FA;
}

.contact-info a {
    color: white !important;
    transition: 0.15s;
    opacity: 0.595;
}

.contact-info a:hover {
    opacity: 1;
}

.contactIcons {
    width: 16px;
    height: 16px;
}

.quick-links,
.contact-info,
.social-links {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.social-logos {
    display: flex;
    flex-direction: row !important;
    gap: 8px !important;
}

.socialIcon {
    width: 36px;
    height: 36px;
    opacity: 0.595;
    transition: 0.15s;
}

.socialIcon:hover {
    opacity: 1;
}

.subfooter {
    padding: 16px;
    text-align: center;
    background-color: #16181b;
    color: white;
    font-weight: 300;
}

@media all and (max-width: 1097px) {
    #home {
        display: flex;
        flex-direction: column;
        gap: 48px;
        padding: 36px;
    }

    .content {
        order: 1;
        padding: 24px;
    }

    .image {
        order: 2;
        padding: 0 24px;
    }

    .photo {
        height: 380px;
        width: 100%;
        border-radius: 12px;
    }

    #stacks {
        padding: 72px 60px;
    }

    .stackList {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 24px;
    }

    #projects {
        margin-top: 0;
        padding: 72px 60px;
    }

    .projectList {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 24px;
    }

    .project-overlay h3 {
        font-size: 24px;
    }

    #contact {
        margin: 72px 60px;
        padding: 140px 100px;
        color: white;
        border-radius: 12px;
        text-align: center;

    }

    .mainfooter {
        padding: 60px 60px;
    }
}

@media all and (max-width: 760px) {
    #contact {
        margin: 0px 60px 72px 60px;
        padding: 90px 60px;
        color: white;
        border-radius: 12px;
        text-align: left;
    }

    .socialsContainer {
        margin-top: 36px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 16px;
    }

    .social {
        cursor: pointer;
        padding: 6px 16px;
        border-radius: 8px;
        border: none;
        display: flex;
    }
}

@media all and (max-width: 676px) {
    .navbar {
        padding: 4px 24px;
    }

    .menu-icon {
        display: block;
    }

    .links li:not(:last-child) {
        display: none;
    }

    .content {
        padding: 0;
    }

    .content h1 {
        font-size: 28px;
    }

    .content h5 {
        margin-bottom: 24px;
    }

    .content p {
        padding: 0;
    }

    .image {
        padding: 0;
    }

    #getStarted,
    #seeProjects {
        font-size: 16px;
    }

    #stacks {
        padding: 72px 36px;
    }

    .stackList {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    #stacks h1 {
        font-size: 28px;
        margin-bottom: 24px;
        color: white;
    }

    #projects {
        margin-top: 0;
        padding: 72px 36px;
        background-color: white;
    }

    #projects h1 {
        font-size: 28px;
        font-weight: 700;
    }

    #projects p {
        font-size: 16px;
        color: hsl(0, 0%, 40%);
        font-weight: 300;
        margin-bottom: 24px;
    }

    .projectList {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 36px;
    }

    #contact {
        margin: 0px 36px 72px 36px;
        padding: 56px 36px;
        color: white;
        border-radius: 12px;
        text-align: left;
    }

    #contact h1 {
        font-size: 28px;
        margin-bottom: 12px;
    }

    #contact p {
        font-size: 16px;
        font-weight: 300;
    }

    .social p {
        font-size: 14px !important;
        font-weight: 500 !important;
    }

    .mainfooter {
        padding: 60px 36px;
    }
}

@media all and (max-width: 426px) {
    .navbar {
        padding: 4px 16px;
    }

    .menu-icon {
        display: block;
    }

    .links li:not(:last-child) {
        display: none;
    }

    #home,
    #stacks,
    #projects {
        padding: 48px 24px;
    }

    #contact {
        margin: 0px 24px 48px 24px;
        padding: 56px 24px;
    }

    .mainfooter {
        padding: 40px 24px;
    }
}